@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #000000;
	--foreground: #ededed;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-50%));
	}
}

.animate-scroll {
	animation: scroll var(--animation-duration) var(--animation-direction) infinite linear;
}
.card {
	@apply rounded-xl border border-[#b7b7b753] bg-[#22272f97];
}
